html
    head
        link(rel="stylesheet"  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css")
        link(rel="stylesheet"  href="/custom.css")
    body
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
            button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNavAltMarkup' aria-controls='navbarNavAltMarkup' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarNavAltMarkup.collapse.navbar-collapse
                .navbar-nav
                a.nav-item.nav-link.active(href='#')
                    img(src="https://cdn.glitch.com/5ad0df50-b3aa-493e-8e12-d8e6c43e71a4%2Ffavicon.png?v=1592319560310", alt="bla")
                    span(style="text-align") BOOK STORE
                a.nav-item.nav-link(href='/users') Users
                a.nav-item.nav-link(href='/books') Books
                a.nav-item.nav-link(href='/transactions') Transactions
        .container
            block content
script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js' integrity='sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI' crossorigin='anonymous')
