extends ../layout/common
block content
    form(action='/transactions/delete', method="post")
        label Complete Trans
        if errors
            .alert.alert-danger=errors
        br
        a(href="/transactions",class="btn btn-danger") Back