extends ../layout/common
block content
  h1 Transactions
  a(href="/transactions/create", class="btn btn-success") New
  hr
  style.
    th,td{
    border: 1px soild black;
    text-align:center;
    }
    table{
      width: 500px;
    }
  table.table
        tr
          th Name
          th Book  
          th Trạng Thái
          th Trả Sách
        each tran in trans   
          tr
            td=tran.user
            td=tran.book
            td=tran.status
            td
              a(href="/transactions/"+tran.id+"/complete") Tra Sach